In [3]:
import pandas as pd
import numpy as np

In [4]:
Data = {
    'Employees':['Ahmed','nada','Maher','Tarek','karim','omer'],
    'Department':['IT','HR','Fi','POL','OPP','Design'],
    'Salary':[30000,20000,34000,32000,np.nan,23000]
}
df = pd.DataFrame(Data)
print("ðŸ§§ Data Frame \n",df)

ðŸ§§ Data Frame
   Employees Department   Salary
0     Ahmed         IT  30000.0
1      nada         HR  20000.0
2     Maher         Fi  34000.0
3     Tarek        POL  32000.0
4     karim        OPP      NaN
5      omer     Design  23000.0

In [7]:
print(df.isna().sum())
print(60*"=")
print(df.dropna())

Employees     0
Department    0
Salary        1
dtype: int64
============================================================
  Employees Department   Salary
0     Ahmed         IT  30000.0
1      nada         HR  20000.0
2     Maher         Fi  34000.0
3     Tarek        POL  32000.0
5      omer     Design  23000.0

In [10]:
print(df.head(2))
print(40*"=")
print(df.tail(2))

  Employees Department  Salary
0     Ahmed         IT   30000
1      nada         HR   20000
========================================
  Employees Department  Salary
4     karim        OPP   29000
5      omer     Design   23000

In [15]:
print("Info about Data Frame \n",df.info())
print(40*"=")
print("Description about DF \n",20*"_",'\n',df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Employees   6 non-null      object
 1   Department  6 non-null      object
 2   Salary      6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes
Info about Data Frame
 None
========================================
Description about DF
 ____________________
              Salary
count      6.000000
mean   28000.000000
std     5403.702434
min    20000.000000
25%    24500.000000
50%    29500.000000
75%    31500.000000
max    34000.000000

In [19]:
print("ðŸ“‘ Missing value per Columns: \n", df.isna().sum())
print(40*"=")
print("ðŸ“‘ Missing values: \n", df.isna())

ðŸ“‘ Missing value per Columns:
 Employees     0
Department    0
Salary        1
dtype: int64
========================================
ðŸ“‘ Missing values:
    Employees  Department  Salary
0      False       False   False
1      False       False   False
2      False       False   False
3      False       False   False
4      False       False    True
5      False       False   False

Filtering

In [ ]:
#Selcting columns 
print("âœ¨Company Column:\n",df['Employees']) 

#Selcting Rows 
print("âœ¨Row By Label:\n",df.loc[1],'\n')
print("âœ¨Row By Position:\n",df.iloc[1],'\n')
#Filter
print("âœ¨IT Team:\n",df[df['Department']=='IT'])

âœ¨Company Column:
 0    Ahmed
1     nada
2    Maher
3    Tarek
4    karim
5     omer
Name: Employees, dtype: object
âœ¨Row By Label:
 Employees        nada
Department         HR
Salary        20000.0
Name: 1, dtype: object

âœ¨Row By Position:
 Employees        nada
Department         HR
Salary        20000.0
Name: 1, dtype: object

âœ¨IT Team:
   Employees Department   Salary
0     Ahmed         IT  30000.0

Modyfying DataFrame & Adding Columns

In [17]:
print("Company Names:\n",df,'\n')
print(70*"=")
df['Employees']=df['Employees'].str.upper()
print("ðŸ§§ Standarizing Names: \n",df,'\n') 

print(70*"=")
df['Salary High'] = df['Salary'] >= 30000
print("Company: \n",df)

Company Names:
   Employees Department   Salary  Salary High
0     AHMED         IT  30000.0         True
1      NADA         HR  20000.0        False
2     MAHER         FI  34000.0         True
3     TAREK        POL  32000.0         True
4     KARIM        OPP      NaN        False
5      OMER     DESIGN  23000.0        False

======================================================================
ðŸ§§ Standarizing Names:
   Employees Department   Salary  Salary High
0     AHMED         IT  30000.0         True
1      NADA         HR  20000.0        False
2     MAHER         FI  34000.0         True
3     TAREK        POL  32000.0         True
4     KARIM        OPP      NaN        False
5      OMER     DESIGN  23000.0        False

======================================================================
Company:
   Employees Department   Salary  Salary High
0     AHMED         IT  30000.0         True
1      NADA         HR  20000.0        False
2     MAHER         FI  34000.0         True
3     TAREK        POL  32000.0         True
4     KARIM        OPP      NaN        False
5      OMER     DESIGN  23000.0        False

Merging DataFrame